**FILE OBJECT**

Reads and manipulates file using open()

In [3]:
path ='/content/file_data.csv'

file=open(path,"r") #read - r
#open(path,"w") #write - w
#open(path,"rb") #rb - read binary
#open(path,"r") #read - r
#open(path,"wb") #write binary - wb
data_string = file.read()
file.close()

In [4]:
type(data_string)

str

In [5]:
print(data_string[0:1000])

,sensor_id,time,incoming,outgoing,range,date,hour,minute,total,location_name
0,52,2021-06-17 07:07:11.937082+00:00,0,2,1min,2021-06-17,7,7,2,reitan_7eleven_carlberner
1,52,2021-06-17 07:07:51.166361+00:00,1,0,1min,2021-06-17,7,7,1,reitan_7eleven_carlberner
2,52,2021-06-17 07:09:48.861997+00:00,0,1,1min,2021-06-17,7,9,1,reitan_7eleven_carlberner
3,52,2021-06-17 07:10:40.197648+00:00,1,0,1min,2021-06-17,7,10,1,reitan_7eleven_carlberner
4,52,2021-06-17 07:11:49.664105+00:00,0,1,1min,2021-06-17,7,11,1,reitan_7eleven_carlberner
5,52,2021-06-17 07:14:20.731722+00:00,1,0,1min,2021-06-17,7,14,1,reitan_7eleven_carlberner
6,52,2021-06-17 07:16:27.575491+00:00,0,1,1min,2021-06-17,7,16,1,reitan_7eleven_carlberner
7,52,2021-06-17 07:17:21.919449+00:00,1,0,1min,2021-06-17,7,17,1,reitan_7eleven_carlberner
8,52,2021-06-17 07:17:52.122774+00:00,0,1,1min,2021-06-17,7,17,1,reitan_7eleven_carlberner
9,52,2021-06-17 07:19:58.885012+00:00,1,0,1min,2021-06-17,7,19,1,reitan_7eleven_carlberner
10,52,2021-06-17

In [6]:
file = open(path,"r")
datalines = file.readlines()
file.close()

In [7]:
type(datalines)

list

In [10]:
datalines[0:3]

[',sensor_id,time,incoming,outgoing,range,date,hour,minute,total,location_name\n',
 '0,52,2021-06-17 07:07:11.937082+00:00,0,2,1min,2021-06-17,7,7,2,reitan_7eleven_carlberner\n',
 '1,52,2021-06-17 07:07:51.166361+00:00,1,0,1min,2021-06-17,7,7,1,reitan_7eleven_carlberner\n']

In [11]:
datalines[0] #extracts columns

',sensor_id,time,incoming,outgoing,range,date,hour,minute,total,location_name\n'

In [12]:
datalines[0].split(",")

['',
 'sensor_id',
 'time',
 'incoming',
 'outgoing',
 'range',
 'date',
 'hour',
 'minute',
 'total',
 'location_name\n']

In [15]:
def get_values(row:str)->list: #return list
  val=row.strip().split(",") #strip removes newline
  return val

In [17]:
from utils import get_values

In [18]:
get_values(datalines[1])

['0',
 '52',
 '2021-06-17 07:07:11.937082+00:00',
 '0',
 '2',
 '1min',
 '2021-06-17',
 '7',
 '7',
 '2',
 'reitan_7eleven_carlberner']

In [20]:
sensor_id = []
time=[]
for row in datalines [1:]:
  vals = get_values(row)
  sensor_id.append(vals[1])
  time.append(vals[2])

In [34]:
sensor_id = []
time = [] 
incoming = []
outgoing = []
rnge = []
date = [] 
hour = []
minute = [] 
total = [] 
location_name = []

for row in datalines[1:]:
    values = row.replace("\n","").split(",")[0:]
    sensor_id.append(int(values[1]))
    time.append(values[2])
    incoming.append(int(values[3]))
    outgoing.append(int(values[4]))
    rnge.append(values[5])
    date.append(values[6])
    hour.append(int(values[7]))
    minute.append(int(values[8]))
    total.append(int(values[9]))
    location_name.append(values[10])

In [35]:
l1 = [1,2,3,4,5]
l2 = [5,4,3,2,1]
for i,j in zip(l1,l2):
  print(i,j)

1 5
2 4
3 3
4 2
5 1

In [36]:
outgoing

[2,
 0,
 1,
 0,
 1,
 0,
 1,
 0,
 1,
 0,
 1,
 1,
 0,
 1,
 1,
 0,
 1,
 0,
 0,
 2,
 0,
 1,
 0,
 0,
 1,
 0,
 0,
 1,
 1,
 1,
 1,
 2,
 1,
 1,
 0,
 0,
 1,
 1,
 1,
 1,
 1,
 0,
 1,
 1,
 1,
 0,
 0,
 1,
 0,
 1,
 0,
 1,
 1,
 1,
 0,
 0,
 1,
 1,
 1,
 0,
 1,
 1,
 0,
 1,
 0,
 1,
 0,
 1,
 1,
 0,
 1,
 1,
 0,
 1,
 1,
 0,
 1,
 0,
 1,
 1,
 1,
 0,
 1,
 2,
 1,
 1,
 0,
 0,
 1,
 1,
 0,
 1,
 2,
 1,
 0,
 1,
 0,
 1,
 2,
 1,
 1,
 0,
 0,
 0,
 1,
 2,
 0,
 0,
 1,
 2,
 1,
 0,
 2,
 0,
 2,
 0,
 0,
 1,
 1,
 1,
 1,
 1,
 0,
 1,
 1,
 1,
 1,
 0,
 1,
 0,
 1,
 0,
 1,
 1,
 1,
 1,
 0,
 1,
 0,
 0,
 1,
 2,
 0,
 0,
 1,
 1,
 0,
 1,
 1,
 0,
 1,
 1,
 0,
 1,
 0,
 1,
 1,
 0,
 1,
 0,
 0,
 1,
 0,
 1,
 0,
 1,
 1,
 0,
 1,
 1,
 1,
 1,
 0,
 0,
 1,
 1,
 1,
 2,
 0,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 0,
 1,
 1,
 1,
 0,
 2,
 1,
 0,
 1,
 0,
 1,
 2,
 0,
 1,
 2,
 0,
 1,
 1,
 0,
 1,
 1,
 1,
 0,
 1,
 1,
 0,
 1,
 0,
 1,
 0,
 1,
 0,
 1,
 1,
 1,
 1,
 0,
 0,
 1,
 0,
 2,
 0,
 0,
 1,
 1,
 1,
 0,
 1,
 0,
 0,
 1,
 0,
 1,
 1,
 0,
 1,
 0,
 1,
 1,
 0,
 1,
 1,
 0,
 0,
 1,
 0,
 1,
 2,
 1,
 0,
 0,
 1,
 1,
 0,
 0,
 2,
 1,
 1,
 0,
 1,
 1,
 1,
 0,
 0,
 1,
 0,
 1,
 0,
 1,
 1,
 1,
 1,
 1,
 0,
 0,
 0,
 1,
 1,
 1,
 1,
 0,
 1,
 0,
 1,
 1,
 1,
 0,
 1,
 1,
 1,
 1,
 4,
 0,
 1,
 1,
 2,
 0,
 1,
 0,
 1,
 0,
 0,
 1,
 0,
 2,
 0,
 2,
 0,
 1,
 0,
 1,
 1,
 1,
 1,
 0,
 0,
 1,
 1,
 1,
 0,
 1,
 2,
 1,
 0,
 0,
 0,
 1,
 0,
 1,
 0,
 0,
 2,
 1,
 1,
 2,
 0,
 0,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 0,
 0,
 1,
 1,
 0,
 1,
 0,
 2,
 1,
 0,
 1,
 0,
 1,
 1,
 0,
 1,
 0,
 1,
 1,
 0,
 1,
 1,
 1,
 0,
 1,
 0,
 1,
 0,
 1,
 0,
 2,
 0,
 0,
 1,
 0,
 1,
 0,
 0,
 1,
 1,
 1,
 1,
 1,
 1,
 0,
 1,
 0,
 0,
 0,
 1,
 0,
 1,
 0,
 1,
 0,
 1,
 3,
 1,
 1,
 0,
 0,
 1,
 1,
 0,
 1,
 1,
 0,
 0,
 1,
 1,
 1,
 0,
 1,
 1,
 0,
 1,
 1,
 1,
 0,
 1,
 1,
 0,
 1,
 0,
 1,
 1,
 1,
 1,
 0,
 2,
 1,
 2,
 0,
 0,
 1,
 1,
 0,
 1,
 1,
 1,
 0,
 1,
 0,
 1,
 1,
 0,
 1,
 0,
 1,
 0,
 2,
 0,
 1,
 1,
 1,
 0,
 2,
 0,
 0,
 1,
 1,
 2,
 0,
 1,
 0,
 2,
 1,
 1,
 1,
 0,
 0,
 0,
 0,
 1,
 1,
 1,
 0,
 0,
 2,
 0,
 0,
 0,
 1,
 0,
 1,
 0,
 1,
 0,
 2,
 1,
 1,
 1,
 0,
 3,
 0,
 1,
 2,
 0,
 0,
 1,
 1,
 1,
 1,
 0,
 1,
 0,
 3,
 1,
 3,
 1,
 2,
 2,
 1,
 1,
 0,
 1,
 2,
 0,
 1,
 0,
 1,
 1,
 0,
 0,
 0,
 1,
 1,
 0,
 1,
 1,
 0,
 1,
 0,
 20064,
 2,
 0,
 1,
 0,
 2,
 0,
 1,
 0,
 1,
 1,
 1,
 0,
 1,
 1,
 2,
 1,
 1,
 0,
 0,
 1,
 3,
 0,
 1,
 0,
 1,
 0,
 1,
 0,
 1,
 1,
 0,
 1,
 0,
 2,
 0,
 1,
 1,
 0,
 2,
 0,
 1,
 1,
 0,
 1,
 1,
 1,
 1,
 0,
 1,
 0,
 2,
 1,
 0,
 0,
 1,
 1,
 1,
 1,
 1,
 1,
 0,
 1,
 0,
 2,
 1,
 0,
 0,
 1,
 1,
 0,
 1,
 1,
 1,
 0,
 1,
 0,
 1,
 0,
 1,
 1,
 0,
 1,
 1,
 1,
 0,
 1,
 0,
 1,
 0,
 1,
 0,
 1,
 0,
 0,
 0,
 0,
 1,
 1,
 1,
 0,
 1,
 0,
 1,
 0,
 0,
 1,
 1,
 0,
 1,
 1,
 1,
 0,
 1,
 0,
 1,
 0,
 1,
 2,
 0,
 0,
 0,
 0,
 0,
 1,
 2,
 0,
 1,
 3,
 1,
 5,
 1,
 3,
 2,
 0,
 1,
 0,
 0,
 1,
 0,
 2,
 1,
 1,
 1,
 20172,
 0,
 1,
 0,
 0,
 0,
 1,
 1,
 1,
 1,
 0,
 1,
 0,
 1,
 1,
 0,
 1,
 0,
 0,
 1,
 0,
 0,
 0,
 0,
 3,
 0,
 2,
 1,
 0,
 1,
 0,
 0,
 0,
 0,
 1,
 0,
 1,
 1,
 1,
 3,
 0,
 4,
 1,
 0,
 0,
 1,
 0,
 1,
 0,
 0,
 20203,
 0,
 1,
 0,
 1,
 0,
 1,
 1,
 0,
 1,
 0,
 0,
 0,
 1,
 0,
 0,
 1,
 1,
 0,
 1,
 1,
 0,
 0,
 1,
 2,
 1,
 0,
 2,
 1,
 1,
 1,
 0,
 0,
 1,
 0,
 0,
 1,
 0,
 1,
 0,
 1,
 20375,
 0,
 1,
 0,
 2,
 1,
 0,
 0,
 1,
 1,
 0,
 1,
 0,
 0,
 1,
 1,
 1,
 1,
 1,
 1,
 2,
 0,
 20561,
 20561,
 20561,
 20561,
 20561,
 20561]

In [37]:
int("2")<int("1") #string comparison so convert to int

False

In [41]:
cnt = 0
for inc,out in zip(incoming,outgoing):
    if int(inc)<int(out):
        cnt+=1
print(cnt)

426

In [54]:
cnt = 0
for values in zip(date,hour,minute,total):
    print(values)
    cnt+=1
    if cnt==10:
        break

('2021-06-17', 7, 7, 2)
('2021-06-17', 7, 7, 1)
('2021-06-17', 7, 9, 1)
('2021-06-17', 7, 10, 1)
('2021-06-17', 7, 11, 1)
('2021-06-17', 7, 14, 1)
('2021-06-17', 7, 16, 1)
('2021-06-17', 7, 17, 1)
('2021-06-17', 7, 17, 1)
('2021-06-17', 7, 19, 1)

In [55]:
cnt = 0
tot=[]
for d,h,m,t in zip (date,hour,minute, total):
  if d == '2021 - 06 - 18' and int(h) == 23 and int(m)<=45:
    counter = counter+1
    tot.append(t)

In [72]:
cnt = 0
totals = []
for values in zip(date,hour,minute,total):
    if values[0]=="2021-06-18" and values[1]==23 and values[2]<=45:
        cnt+=1
        totals.append(values[3])

In [73]:
cnt

5

In [74]:
totals

[1, 1, 1, 1, 1]

In [75]:
sum(totals)/cnt

1.0

In [67]:
t=0
for values in tot:
  t = t +int(values)

In [68]:
t

0

In [69]:
c=0
l=[]
for v in zip(date,hour, minute,total):
  if v[0]=="2021-06-18" and v[1]==23 and v[2]<=45:
    c=c+1
    l.append(v[3])

print(c)

5

In [71]:
cnt

0

**TOC**

Using open() to manipulate text files is not very scalable

**csv reader:** Read and easily manipulate flat files

**json reader:** Read and manipulate json files

In [76]:
import csv

In [79]:
##read csv

with open(path,"r") as f:
  r = csv.reader(f,delimiter = ",")
  for row in r:
    print(row)
    if cnt == 5:
      break

['', 'sensor_id', 'time', 'incoming', 'outgoing', 'range', 'date', 'hour', 'minute', 'total', 'location_name']

In [81]:
cnt=0
with open(path,"r") as f:
  r = csv.DictReader(f,delimiter = ",")
  for row in r:
    cnt+=1
    print(row['date'], row['outgoing'])
    if cnt == 5:
      break

2021-06-17 2
2021-06-17 0
2021-06-17 1
2021-06-17 0
2021-06-17 1

**Class Assignment**

Use the data tweets_assignment.txt
Find out how many tweets were tweeted on each day, i.e. how many tweets were made on 26th December, how many on 25th December and so on.

In [82]:
with open("/content/tweets_assignment.txt","r") as f:
    data_list = f.readlines()
data_list[0:5]

['"Tweet_Date"|"Tweet_Text"|"Tweet_Handle"\n',
 '"Thu Dec 26 123415 0000 2013"|"ashdubey ratigirl FirstpostBiz First economic move by AamAadmiParty  How come it has gone down in Guj"|"maverickenator"\n',
 '"Thu Dec 26 123413 0000 2013"|"RT anandpassion Growing popularity can seen as AAP websites Rank 275 in India highest ever for a political party JoinAAP ankitlal Aam"|"aapkask"\n',
 '"Thu Dec 26 123402 0000 2013"|"RT anandpassion Growing popularity can seen as AAP websites Rank 275 in India highest ever for a political party JoinAAP ankitlal Aam"|"arpshalder"\n',
 '"Thu Dec 26 123354 0000 2013"|"ArvindKejriwal AapYogendra AamAadmiParty I hope your party realizes why the likes of alkalamba are trying to join AAP now Be careful"|"GargaC"\n']

In [83]:
cnt = 0
with open("/content/tweets_assignment.txt","r") as f:
    reader = csv.reader(f,delimiter="|")
    for row in reader: ## there was no need to do an explicit split based on |
        print(row) ## The quoted text seems to have been automatically handled
        cnt+=1
        if cnt==5:
            break

['Tweet_Date', 'Tweet_Text', 'Tweet_Handle']
['Thu Dec 26 123415 0000 2013', 'ashdubey ratigirl FirstpostBiz First economic move by AamAadmiParty  How come it has gone down in Guj', 'maverickenator']
['Thu Dec 26 123413 0000 2013', 'RT anandpassion Growing popularity can seen as AAP websites Rank 275 in India highest ever for a political party JoinAAP ankitlal Aam', 'aapkask']
['Thu Dec 26 123402 0000 2013', 'RT anandpassion Growing popularity can seen as AAP websites Rank 275 in India highest ever for a political party JoinAAP ankitlal Aam', 'arpshalder']
['Thu Dec 26 123354 0000 2013', 'ArvindKejriwal AapYogendra AamAadmiParty I hope your party realizes why the likes of alkalamba are trying to join AAP now Be careful', 'GargaC']